{%- if page.password %}
<script>
	(function() {
		var s = '请输入密码：';
		if('{{ page.password_message }}') s = '请根据密码提示输入密码：\n{{ page.password_message }}';
		while(prompt(s, '') !== '{{ page.password }}') alert('密码错误，请重新输入');
	})();
</script>
{%- endif %}